<h1>Coupon Form</h1>

<%= form_tag coupons_path do %>
  <p><label>Enter Coupon Code</label></p>
  <%= text_field_tag :coupon_code %>
  <p><label>Enter Store</label></p>
  <%= text_field_tag :store %>
  <%= submit_tag "Submit Coupon" %>
<% end %>
